html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav div ul li {
  float: left;
  font-weight: 300;
}

.news-card {
  margin-left: 5%;
  font-weight: 300;
  text-align: justify;
  height: 80;
  width: 50;
}
